
body{
  color: #fff;
}

/*---------------header ------------------------*/
.head{
  border: 2px solid #4c4c4c;
  margin : 2px;
  background-color: #323232;
  overflow: auto;
}

.navnav{
  width: 100%;
}

/*--------------thorax or will this merge into cephalothorax------------------*/
.thorax{
  border: 2px solid #4c4c4c;
  margin : 2px;
}

/*-----------------abdoment----------------------*/
.abdomen{
  border: 2px solid #4c4c4c;
  margin : 2px;
}

/*------------------footer------------------------*/
.feet{
  margin: 2px;
  text-align: center;
  background-color: #323232;
  height: 40px; /*TODO delete this */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #4c4c4c;
}

.copyrite{
  text-align:center;
  width: 100%;
}

