body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #777;
  background: url("../images/backgroundZebra.png");
}
/*--header --*/
.headerbar
{
  background-color: #ffffff; 
  padding-left: 5%;
  padding-right: 5%;
}
.nav-link
{
  color: #999;
}
.thename
{
  line-height: 50px;
  font-family: Georgia, Times, "Times New Roman" , serif;
  text-decoration: none;
  background-color: #4aaaa5;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
}
.nav a
{
  border-left: 1px solid #efefef;
}
/*-- end of header --*/
.mainbody
{
  margin: 100px 0px 100px 0px;
  display: table;
}
.containbars
{
}
/* main bar and all its contents */
.mainbar
{
  background-color: #ffffff;
  min-width: 400px;
  border: 1px solid #dddddd;
  margin: 15px 10px 10px 10px;
}
.maincontainer
{
  margin: 10px;
}
.mainpoint
{
  margin: 20px 2px 0px 2px;
  border-bottom: 2px solid #eee;
}
.mainpoint h2
{
  color: #4aaaa5;
  font-size: 20px;
  margin-bottom: 2px solid #eeeeee;
}
/*-----------------------------------*/
/*side bar and all its contents */
.sidebar
{
  background-color: #fff;
  margin: 15px 10px 10px 10px;
  border: 1px solid #ddd;
  min-width: 300px;
  max-height: 250px;
}
.sidepoint
{
  margin: 20px 2px 0px 2px;
  border-bottom: 2px solid #eee;
}
.sidepoint h3
{
  color: #4aaaa5;
  font-size: 20px;
  margin-bottom: 2px solid #eeeeee;
}
.allsocial
{
  display: inline-block;
  margin: 10px;
}
.social
{
  width: 60px;
  height: 60px;
}

/*-------------------------------------*/
/*--------FOR CONTACT------------------*/
button[type=submit] 
{
  background-color: #4aaaa5;
  padding: 10px;
  margin-top: 5px;
}
/*--------FOR INDEX -------------------*/
.myImage
{
  width: 200px;
  height: 200px;
  float: left;
}
.aboutMe
{
  float: left;
  overflow: auto;
}
/*-------------------------------------*/

/*--------FOR PORTFOLIO----------------*/
.project {
  position: relative;
  float: left;
  width: 205px;
  margin: 20px 10px 25px 10px;
  overflow: auto;
}
.project p {
  position: absolute;
  bottom: 20px;
  width: 200px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.project img
{
  height: 200px;
  width: 200px;
  opacity: 0.8;
}
/*--------------------------------------*/

/*---------footer-----------------------*/
.footerbar
{
  padding: 10px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
}
/*--------------------------------------*/
