
body{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Cagliostro', sans-serif;
  font-family: 'Play', sans-serif;
}

/*---------------header ------------------------*/
.head{
  border: 2px solid #4c4c4c;
  margin : 2px;
  background-color: #323232;
  overflow: auto;
}

.navnav{
  width: 100%;
}

.navbar-brand{
  color:#ccc;
  border: 2px solid black;
  border-radius: 4px;
}

.nav-item a{
  color: #ccc;
}

#collapsible-nav{
  
}

/*--------------thorax or will this merge into cephalothorax------------------*/
.thorax{
  border: 2px solid #4c4c4c;
  margin : 2px;
}

/*-----------------abdoment----------------------*/
.abdomen{
  border: 2px solid #4c4c4c;
  margin : 2px;
}

/*------------------footer------------------------*/
.feet{
  margin: 2px;
  text-align: center;
  background-color: #323232;
  height: 40px; /*TODO delete this */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #4c4c4c;
}

.copyrite{
  text-align:center;
  color: #cccccc;
  width: 100%;
}

